{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}

{% include 'includes/header.html' %}

<section class="pt-5 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
        <h1>Delete redactor {{ redactor.username }}?</h1>
        <form action="" method="post">
          {% csrf_token %}

          <input type="submit" value="{% trans 'Confirm deletion' %}" class="btn btn-danger">
          <input type="submit" value="{% trans 'Cancel' %}" class="btn btn-secondary">
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
