 <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-7 col-sm-6 col-6 mb-0 mx-auto text-center">
          <div>
            <h6 class="text-gradient text-primary text-lg">Newspaper Agency</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <p class=class="text-sm">
                  Django project for managing a newspaper agency with newspapers, redactors and topics.
                </p>
                <p class=class="text-sm">
                  Github:
                  <a href="https://github.com/MkrtychKhachatrian/newspaper-agency" target="_blank">
                    https://github.com/MkrtychKhachatrian/newspaper-agency
                  </a>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              Newspaper Agency by Mkrtych Khachatrian
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
